
  .navBar {
        height: 50px;
   
        text-decoration: none;
  }

  .nav-item {
      
    float: right;
    display: block;
     margin: 20px;
    text-decoration: none;
   
  }


  a {
      color:black;
      text-decoration: none;
      display: block; 
  }


.navLogo {
  float: left !important;
  display: block;
 text-decoration: none;
}




