.councilPageView {
    /* display: flex; */
    margin-top: 10px !important;
    background-image: url('../../images/backgrounds/neighbor1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
   min-height: 500px; 
   background-attachment: fixed;
   background-position: center;

}

.councilPageContainer {
  display: flex;
  justify-content: space-evenly;
  width:80em;
  
}

.memberList {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.councilMemberCard {
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
    margin-bottom: 50px;
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    width: 20em;
}

.memberName {
  padding: 1em;
}

.memberImage {
  width: 120px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
