.repCardHome {

    align-content: center;
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    margin-bottom: 50px;
    padding: 3px 15px 15px 15px;
    width: 18em;;
}

.memberHeader {
    text-align: center;
}

.memberImageHome {
    width: 120px;
  height: 150px;
    border-radius: 50%;
    align-content: center !important;

}

.councilWebsiteButton {
    margin-top: 10px !important;
}