.orgPageView {
    font-family: 'Farro', sans-serif;
     margin-top: 10px !important;
     background-image: url('../../images/backgrounds/neighbor9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
 
}

.orgPageContainer {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    
}

.orgList {
    margin-top: 2em; 
}
.orgCard {
    padding: 15px 15px 15px 15px;
    margin-bottom: 50px;
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    width: 60em;
}

.eventsButton {
    float: right;
}

.orgImage {
    width: 15em;
    object-fit: contain;
}

.orgWebsiteButton {
    margin-top: 1em !important; 
}