.org-spotlight {
  
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    margin-bottom: 50px;
    padding: 3px 15px 15px 15px;
    width: 18em;
}

.spotLightHeader {
    text-align: center !important;
}
