.eventListHeader {
    border-style: solid;
    margin: 0px;
    margin-bottom: 20px;

}

.saveButton, .deleteButton {
    float: right !important;
}


aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
 
  }

