.eventListHeader {
 
}
.eventList {
    /* margin-left: 5%; */
    margin-top: 4%;
    float: left !important;
}

.eventCard {
    padding: 15px 15px 30px 15px;
    margin-bottom: 50px;
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
  
}

.saveButton, .deleteButton {
    float: right !important;
}


.previewAside {
    width: 30%;
    /* padding-left: 15px; */
 float: right;
 
    
    /* margin-top: 4%;  */
 /* margin-left: 15%; */

 
  }

