.savedEventsList {
    margin-right: 15%;
}

.savedEventCard {
    padding: 3px 15px 100px 15px;
    margin-bottom: 50px;
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    width: 50em;
}

.savedCardButtons {
    flex: auto;
    float: right;
}

 .removeButton {
    float: right !important;
    margin-top: 10px !important;
} 

.savedPreviewHeader {
    background-color: #ddeaec;
    text-align: center !important;
    border-radius: 15px;
}

.savedPreviewCard {
    background-color: #ffbd59 !important;
    border-radius: 15px;
    opacity: 0.9;
    padding: 3px 15px 50px 15px;
    margin-bottom: 50px;
    width: 18em;
}

.savedEventMainDetails {
    padding-bottom: 1em;
}

.previewRemoveButton {
    margin-top: 0.3em !important;
    float: right !important;
}
