.pageView {
    margin-top: 50px !important;
}

.homeEvents {
    float: left;
}

.home-aside {
    background-color: burlywood;
    border-radius: 80px;
}

.memberImageHome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-content: center;
}