.homePageView {
    /* display: flex; */
    margin-top: 10px !important;
    background-image: url('../images/backgrounds/neighbor1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
   /* min-height: 500px; */
   background-attachment: fixed;
   background-position: center;

}

.homePageContainer {
    display: flex;
    justify-content: space-evenly;
    width:100%;
}


.homeEvents {
    margin-top: 2em; 
    margin-left: 4em;
}

.home-aside {
 display: flex;
 justify-content: flex-end;
 flex-direction: column;

  margin-top: 2em; 
 margin-right: 4em;
 margin-left: 4em;

}

